# Copy to .env and set secrets for local dev
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=NewStrongPassword123
DB_NAME=team_tasks_db

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=24h

# App
PORT=3000
NODE_ENV=development

# RabbitMQ
RMQ_URL=amqp://guest:guest@localhost:5672
RMQ_EXCHANGE=team_tasks.exchange
RMQ_DLX=team_tasks.dlx
RMQ_MAIN_QUEUE=team_tasks.main
RMQ_DLQ=team_tasks.dlq

# Redis (optional for caching/background workflows)
REDIS_URL=redis://localhost:6379

# Internal gRPC communication
INTERNAL_GRPC_URL=localhost:50051
